body {
    background-color: darkslategrey;
}

#data-viz {
    border: 1px solid gold;
    width: 800px;
    height: 800px;
    position: relative;
    margin: 0 auto;
}

#title {
    text-align: center;

}
