body {
    /*background-color: darkslategrey;*/
    background-color: grey;
}

#search-wrapper {
    /*border: 1px solid crimson;*/
    /*display: inline-block;*/
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

#job-search {
    flex: 0 0 50%;
}

#node-search {
    flex: 1;
}

select {
    width: 200px;
}

input {
    width: 200px;
}

#selector-box {
    border: 1px solid crimson;
    margin: auto;
    width: 17%;
    /*display: inline-block;*/
    /*margin: 0 auto;*/
    /*display: inline-block;*/
}

#selector-text {
    font-size: 30px;
    color: lightblue;
}

#title {
    text-align: center;
    color: navajowhite;
}

#currentPosition {
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#display-options-text {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: lightblue;
}

.checkbox {
    /*margin-top: 5px;*/
    position: relative;
    right: 70px;
    bottom: 8px;
}

.checkbox-label {
    /*margin-top: 5px;*/
    position: relative;
    right: 160px;
    bottom: 8px;
    font-size: 18px;
    color: lightpink;
}

.checkboxes {
    display: inline-block;
    /*border: 1px solid magenta;*/
    height: 800px;
    position: relative;
    bottom: 9px;
    margin-right: 15px;
    /*float: left;*/
}

.checkbox-wrapper {

}

.apply-button-wrapper {
    width: 105px;
    height: 55px;
    margin: 5px auto auto;
}

#apply-changes {
    width: 100px;
    height: 50px;
    background-color: lightseagreen;
}

.main-wrapper {
    /*width: 1125px;*/
    width: 1170px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    border: 1px solid springgreen;
    background-color: seagreen;
    /*color: ;*/
    /*color: ;*/
}

.full-page {
    background-color: darkslategrey;

}

.checkboxes {
    /*width: 350px;*/
}

#main-container {
    width: 800px;
    height: 800px;
    display: inline-block;
    /*float: left;*/
    /*position: relative;*/
    /*margin: 0 auto;*/
}

#data-viz{
    /*width: 800px;*/
    /*height: 800px;*/
    /*display: inline-block;*/

    position: relative;
    left: 16px;
    border: 1px solid gold;
    width: 100%;
    height: 100%;


    /*margin: 0 auto;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}

#input-box {
    position: relative;
    display: inline-block;
}

/*Credit*/
/*https://codepen.io/tomhodgins/pen/PzyRGA*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*display: block;*/
    /*margin: 0 auto 1em auto;*/
    /*padding: .5em;*/
    /*padding-right: 1.5em;*/
    /*width: auto;*/
    /*min-width: 200px;*/
    outline: none;
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: 400;
    text-indent: 0.01px;
    text-overflow: '';
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 2px;
    color: rgba(0,0,0,.7);
    /*background-color: rgba(255,255,255,.5);*/
    background-color: mediumaquamarine;
    background-repeat: no-repeat;
    background-position: calc(100% - .5em) 50%;
    background-size: 12px;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0,0,0,.15) 0 1px 0;
}
select::-ms-expand {
    display: none;
}
select:focus {
    border-color: orange;
    box-shadow: #fc0 0 0 3px;
}

/* Light Theme */
select.sel-light {
    color: rgba(0,0,0,.7);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+DQo8cG9seWdvbiBvcGFjaXR5PSIwLjciIHBvaW50cz0iMCw0IDE2LDQgOCwxMiIvPg0KPC9zdmc+DQo=');/* dark arrow*/
}
select.sel-light:active {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gb3BhY2l0eT0iMC41IiBwb2ludHM9IjAsNCAxNiw0IDgsMTIiLz48L3N2Zz4=');
}

/*!* Dark Theme *!*/
/*select.sel-dark {*/
/*    color: rgba(255,255,255,.7);*/
/*    border-color: rgba(0,0,0,.7);*/
/*    background-color: rgba(0,0,0,.5);*/
/*    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gZmlsbD0id2hpdGUiIG9wYWNpdHk9Ii43IiBwb2ludHM9IjAsNCAxNiw0IDgsMTIiLz48L3N2Zz4=');!* light arrow *!*/
/*}*/

/*select.sel-dark:active {*/
/*    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gZmlsbD0id2hpdGUiIG9wYWNpdHk9Ii41IiBwb2ludHM9IjAsNCAxNiw0IDgsMTIiLz48L3N2Zz4=');*/
/*}*/












